.bemVindo {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 100px;
}

.rodape {
    text-align: center;
}

.input {
    width: 50%;
    border-color: rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
}

.form {
    padding-left: 550px;
}

.botaoLogin {
    border-color: black;
    background-color: rgb(146, 245, 146);
    border-radius: 10px;
}

.botaoLimpar {
    border-color: black;
    background-color: rgb(255, 82, 82);
    border-radius: 10px;
}

